html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}


.login-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.login-left {
  width: 60%;
  position: relative;
  
}

.login-right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.student-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.login-form-container {
  width: 80%;
  max-width: 400px;
  padding: 30px;
}

.logo-container {
  text-align: center;
  margin-bottom: 60px;
}

.superete-logo {
  max-width: 70%;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group label {
  font-weight: 600;
  color: #333;
}

.form-control {
  height: 40px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.ingresar-btn {
  height: 40px;
  margin-top: 10px;
  background-color: #5271ff;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ingresar-btn:hover {
  background-color: #3a57e8;
}

@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
  }
  
  .login-left {
    width: 100%;
    height: 30vh;
  }
  
  .login-right {
    width: 100%;
    height: 70vh;
  }
}